.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h1.title{
    text-align: center;
    text-decoration: bold;
    font-size: 3em !important;
    font-size: larger;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    margin: 1.5em 1.5em;
    padding: .5em .5em;
    background-color: rgb(178, 173, 173);
    border: 2px solid black;
    box-sizing: border-box;
    position: relative;
}

.row .menu .name{
    position: absolute;
    top: -20px;
    right: 0;
    padding: 9px 30px;
}

.row .menu:nth-child(1) .name{
    background-color: rgb(155, 97, 97);
}

.row .menu:nth-child(2) .name{
    color: white;
    background-color: rgb(208, 48, 48);
}

.row .menu:nth-child(3) .name{
    background-color: rgba(236, 101, 22, 0.448);
}

.row .menu .description{
    padding-top: 50px;
}

/* Ponsel */
@media (min-width:576px) {
    .menu {
        flex: 0 0 auto;
        width: 93%
    }
}

/* Tablet */

@media (min-width: 768px) and (max-width: 991px){
    .row{
        margin-left: 5em;
    }

    .menu {
        flex: 0 0 auto;
        width: 40%
    }

    .row .menu:nth-child(3){
        width: 86%
    }
}

/* Desktop */
@media (min-width:992px) {
    .row {
        justify-content: center;
    }

    .menu {
        flex: 0 0 auto;
        width: 16%;
    }
}